/** FreightBigProLight-Italic **/
@font-face {
	font-family: 'FreightBigProLight-Italic';
	src: url('../fonts/FreightBigProLight-Italic/Freight Big Light Italic.eot');
	src: local('☺'), url('../fonts/FreightBigProLight-Italic/Freight Big Light Italic.woff') format('woff'), url('../fonts/FreightBigProLight-Italic/Freight Big Light Italic.ttf') format('truetype'), url('../fonts/FreightBigProLight-Italic/Freight Big Light Italic.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

// /** SF Pro Text Semybold**/
// @font-face {
// 	font-family: 'SF Pro Text';
// 	src: url('../fonts/SF Pro Text Semibold/FontsFree-Net-SFProText-Semibold-1.eot');
// 	src: local('☺'), url('../fonts/SF Pro Text Semibold/FontsFree-Net-SFProText-Semibold-1.woff') format('woff'), url('../fonts/SF Pro Text Semibold/FontsFree-Net-SFProText-Semibold-1.ttf') format('truetype'), url('../fonts/SF Pro Text Semibold/FontsFree-Net-SFProText-Semibold-1.svg') format('svg');
// 	font-weight: 600;
// 	font-style: normal;
// }

// /** SF Pro Text Regular **/
// @font-face {
// 	font-family: 'SF Pro Text';
// 	src: url('../fonts/SF Pro Text regular/FontsFree-Net-SFProText-Regular-1.eot');
// 	src: local('☺'), url('../fonts/SF Pro Text regular/FontsFree-Net-SFProText-Regular-1.woff') format('woff'), url('../fonts/SF Pro Text regular/FontsFree-Net-SFProText-Regular-1.ttf') format('truetype'), url('../fonts/SF Pro Text regular/FontsFree-Net-SFProText-Regular-1.svg') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }

/** Adieu Regular **/
@font-face {
	font-family: 'Adieu';
	src: url('../fonts/Adieu Regular/Adieu-Regular.eot');
	src: local('☺'), url('../fonts/Adieu Regular/Adieu-Regular.woff') format('woff'), url('../fonts/Adieu Regular/Adieu-Regular.ttf') format('truetype'), url('../fonts/Adieu Regular/Adieu-Regular.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

// /** Helvetica Neue Medium **/
// @font-face {
// 	font-family: 'Conv_ofont.ru_Helvetica Neue';
// 	src: url('../fonts/Helvetica Neue Medium/ofont.ru_Helvetica Neue.eot');
// 	src: local('☺'), url('../fonts/Helvetica Neue Medium/ofont.ru_Helvetica Neue.woff') format('woff'), url('../fonts/Helvetica Neue Medium/ofont.ru_Helvetica Neue.ttf') format('truetype'), url('../fonts/Helvetica Neue Medium/ofont.ru_Helvetica Neue.svg') format('svg');
// 	font-weight: 500;
// 	font-style: normal;
// }

// /** Helvetica Neue Regular **/
// @font-face {
// 	font-family: 'Helvetica Neue';
// 	src: url('../fonts/Helvetica Neue Regular/HelveticaNeue Regular.eot');
// 	src: local('☺'), url('../fonts/Helvetica Neue Regular/HelveticaNeue Regular.woff') format('woff'), url('../fonts/Helvetica Neue Regular/HelveticaNeue Regular.ttf') format('truetype'), url('../fonts/Helvetica Neue Regular/HelveticaNeue Regular.svg') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }

