
//header menu
@media (max-width: 1024px) {
    [class*=__container]{
        max-width: 912px;
        margin: 0em auto;
        color: #fff;
    }
	.header__container{
		max-width: 942px;
	}
    body.lock{
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
		margin-top: 0px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 28px;
		height: 8px;
		z-index: 3;
		margin-top: -5px;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active:before{
		transform:rotate(45deg);
		top: 0px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 8px;
	}

	.header__menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background: #080808;
		opacity: 0.98;
		padding: 190px 10px 20px 211px;
	}

	.header__menu.active{
		left: 0;
	}
	.text__menu{
		display: block;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.06em;
		margin: -3px 0 0 25px;
	}
	.header__list {
		display: block;

	}
	.header__list li{
		margin: 0px 0px 39px 0px;
		&:first-child{
			display: block;
		}
	}
	.header__link {
		font-size: 32px;
		line-height: 39px;
	}
	.header__btn{
		margin-top: 0;
	}
	.header__button{
		padding: 1px 0px 0 2px;
	}
	.header__btn p{
		margin-top: 1px;
	}
}
@media (max-width: 768px)  {
    [class*=__container]{
        max-width: 700px;
        margin: 0em auto;
        color: #fff;
    }
	.swiper {
		height: 959px;
	}
	.header__body{
		margin-top: 21px;
	}
	.header__logo{
		margin: 0px 89px 0px 4px;
	}
	.header__burger{
		margin-top: 0;
	}
	.text__menu {
		margin: 0px 0 0 21px;
	}
	.btn{
		width: 158px;
		height: 42px;
	}
	.header__btn p {
		margin: 5px 55px 0 0px;
	}

}
@media (max-width: 375px)  {
	[class*=__container]{
        max-width: 357px;
        margin: 0em auto;
        color: #fff;
    }
	.header__body {
		margin-top: 5px;
	}
	.text__menu{
		display: none;
	}
	.btn{
		display: none;
	}
	.header__burger {
		margin-top: 1px;
		order: 2;
	}
	.header__btn p {
		margin: 3px 53px 0 0px;
	}
	.header__logo {
		margin: 0px 89px 0px 0px;
	}
}


//header menu-black
@media (max-width: 1024px) {
	.header__burger-black{
		margin-top: -1px;
		&::before,
		&::after{
			background-color: #000;
		}
	}
	.header__body-black{
		margin-top: 28px;
	}
	.text__menu-black{
		display: none;
	}
}
@media (max-width: 768px)  {
	.header__body-black {
		margin-top: 20px;
	}
	.header__logo-black {
		margin: 0px 75px 0px 5px;
	}
	.header__btn-black {
		p{
			margin: 1px 55px 0 0px;
		}
	}
}
@media (max-width: 375px)  {
	.header__body-black {
		margin-top: 5px;
	}
	.header__logo-black {
		margin: 0px 0 0px 0px;
	}
	.header__btn-black p {
		margin: 2px 52px 0 0px;
	}
	.header__burger-black {
		margin-top: 1px;
	}
}

//Main========================================

@media (max-width: 1024px) {
	.swiper{
		height: 711px;
	}
	.main__title-block{
		height: 62%;
		width: 100%;
	}
	.main__title-content{
		margin: 0px 0px 0px 159px;
	}
	.main__title{
		font-size: 48px;
		line-height: 59px;
		width: 463px;
		margin: 0px 0px 28px 0px;
	}
	.text-border{
		margin: 0px 0px -1px 0px;
	}
	.button__slider-content{
		width: 29%;
		margin: 0 0 -5px 0;
	}
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 2px;
		top: -5px;
	}
	.button__slider-content span {
		margin: 0 20px 10px;
	}
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		top: 3px;
	}
	.swiper__logo-next h4{
		font-size: 11px;
		line-height: 13px;
	}
	.swiper__logo-next p{
		font-size: 32px;
		line-height: 31px;
	}
	.swiper__logo-next {
		bottom: 160px;
		left: -80px;
		height: 85.5px;
	}
	.main__title-block-footer{
		height: 33%;
		margin: 0px 0px 0px 56px;
	}
	.main__tbf-lang p{
		margin: 0px 15px 1px 0px;
	}
	.country{
		margin: 0px 0px -4px 80px;
		border: 1px solid #C4C4C4;
		border-radius: 88px;
		background-color: transparent;
		padding: 1px 0px 1px 23px;
		background-position: 11px 6px;
		box-shadow: none;
	}
	.back__call{
		margin: 0px 0px 1px 41px;
		gap: 24px;
	}
	.philosophy__contents {
		padding-top: 124px;
	}
	.pc-top__icon{
		height: 439px;
		width: 357px;
	}
	.pc-top__text{
		color: #080808;
		margin: 56px 0px 0px 103px;
		width: 445px;
	}
	.pc-top__text-title{
		font-size: 32px;
		line-height: 39px;
	}
	.pc-top__text-inform{
		font-size: 14px;
		line-height: 24px;
	}
	.pct__tit {
		margin: 12px 0 0px 0;
		br{
			display: block;
		}
	}
	.pct__tib {
		margin: 13px 0 15px 0;
	}
	.projects__abs.philosophy__abs {
		top: 183px;
		left: 7px;
	}
	.pc-bottom__icon {
		margin-left: 105px;
		left: -2px;
	}
	.philosophy__content-bottom{
		margin: 161px 0px 124px 0px;
		justify-content: inherit;
		gap: 192px;
			img:nth-child(1){
				width: 190px;
				height: 237px;
			}
	}
	.pc-bottom__icon-min{
		width: 190px;
		height: 117px;
		left: 154px;
    	top: -94px;
	}
	.pc-bottom__text{
		color: #080808;
		margin-top: 55px;
		margin-left: -18px;
	}
	.pc-bottom__text p{
		font-size: 16px;
		line-height: 170.66%;
		width: 315px;
	}
	.projects__title {
		margin: 0 0 0 1px;
	}
	.pc-bottom__text span{
		margin-right: 18.17px;
		padding-top: 4px;
		font-size: 25.575px;
		line-height: 31px;
	}
	.projects__contents {
		padding-top: 124px;
	}
	.projects__title h2{
		font-size: 32px;
		line-height: 39px;
	}
	.projects__title p{
		margin: 21px auto 0 auto;
	}
	.projects__abs{
		top: 129px;
		left: -2px;
	}
	.invisible__text{
		display: none;
	}
	.projects__gtid{
		margin-top: 117px;
		margin-left: 0px;
		gap: 6px 6px;
	}
	.projects-grid__icon-1{
		width: 453px;
		height: 453px;
		background-size: 100% 100%;

	}
	.projects-grid__icon-2{
		background-size: 100% 100%;
	}
	.projects-grid__icon-3{
		background-size: 100% 100%;
	}
	.projects-grid__icon-4{
		width: 453px;
		height: 453px;
		background-size: 100% 100%;
	}
	.projects-grid__icon-5{
		background-size: 37% 49.5%;
			p{
				margin-top: 64px;
				font-size: 20px;
				line-height: 25px;
			}
	}
	.pg__i2-top-text{
		justify-content: inherit;
		width: 200px;
		font-size: 11px;
		margin: 31px 0 0 32px;
		p{
			&:nth-child(1){
				margin-right: 24px;
			}
			&:nth-child(2){
				margin-right: 28px;
			}
		}
	}
	.pg__i2{
		display: flex;
		margin: 0px 0px 12px 27px;
		a{
			color: #fff;
			line-height: 12px;
		}
		.pc-border-1{
			background: rgba(255, 255, 255, 0.4);
		}
		.pc-border-2{
			background: rgba(255, 255, 255, 0.4);
		}
	}
	.pg__i2-bottom-text{
		margin: 0 0 4px 27px;
		font-size: 20px;
		line-height: 126%;
	}
	.pg-1__i2-bottom-text{
		margin: 0 0 4px 32px;
	}
	.pg__i1{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 100%;
	}
	.pg__t1{
		margin: 0px 0px 12px 33px;
	}
	.pg__i3{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 100%;
	}
	.pg__3-block{
		display: flex;
		align-items: end;
	}
	.pg-1__i3-bottom-text{
		margin: 0px 0px 27px 32px;
		line-height: 127%;
		width: 64%;
	}
	.pg__t3{
		margin: 0px 0px 11px 25px;
	}
	.pgi3__tt{
		p{
			&:nth-child(1){
				margin-right: 18px;
			}
			&:nth-child(2){
				margin-right: 19px;
			}
		}
	}
	.pgi4__tt{
		margin: 30px 0 0 30px;
	}
	.pgi__4{
		margin: 0 0 5px 30px;
	}
	.pg__t4{
		margin: 0px 0px 13px 31px;
	}
	.projects__fc-incons{
		display: none;
	}
	.projects__abs-footer {
		top: 20px;
		left: -18px;
	}
	.projects__fc-tetle{
		text-align: center;
		width: 360px;
		margin: 0 auto 0 277px;
		font-size: 32px;
		line-height: 142.4%;
	}
	.projects__footer-contents{
		width: 100%;
		margin: 138px auto 0;
		padding-bottom: 142px;
	}
	.projects__fc-text {
		width: 461px;
		margin: 24px auto 0 auto;
		text-align: center;
	}
	.projects__fc-text a{
		padding: 15px 48px 14px 49px;
		margin-top: 68px;
		margin-left: 139px;
	}
	.block__lorem-icon-title {
		padding: 329px 0px 329px;
	}
	.block__lorem-icon-title h2{
		font-size: 48px;
		line-height: 59px;
		margin: 8px 0px 0 30px;
	}
	.block__lorem-icon-title p{
		margin-top: 19px;
	}
	.lorem-icon-1 {
		top: -60px;
		left: 398px;
		width: 294.59px;
	}
	.lorem-icon-2 {
		position: absolute;
		top: 114px;
		left: 640px;
		width: 229.41px;
	}
	.lorem-icon-3 {
		position: absolute;
		top: 424px;
		left: 780px;
		width: 340.3px;
	}
	.lorem-icon-4 {
		position: absolute;
		top: 670px;
		left: 482px;
		width: 181.16px;
	}
	.lorem-icon-5 {
		top: 539px;
		left: 3px;
		width: 241.26px;
	}
	.lorem-icon-6{
		display: none;
	}
	.lorem-icon-7 {
		top: 218px;
		right: -3px;
		width: 294.59px;
	}
	.lorem-icon-8 {
		position: absolute;
		top: 114px;
		right: -178px;
		width: 229.41px;
	}
	.content__title{
		width: 100%;
		padding: 103px 0px 0px 103px;
			h4{
				font-size: 32px;
				line-height: 39px;
			}
			p{
				width: 390px;
				margin-top: 15px;
			}
	}
	.content__informs {
		margin: 56px 80px 0px 103px;
	}
	.content__contents {
		width: 74%;
	}
	.content__inform-title p {
		margin-top: 15px;
		width: 75%;
	}
	.content__inform-title-2 {
		padding: 0px 0px 0px 8px;
	}
	.content__inform-title-3 {
		padding: 0px 0px 0px 37px;
	}
	.content__infomt-contacts {
		margin: 6px 21px 0px 0px;
	}
	.ps-footer__text-2 {
		margin: 22px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
		width: 77px;
	}
	.projects__fc-text-footer {
		margin: -11px 0px 0px -36px;
		width: 100%;
	}
	.contact__footer {
		margin: 116px 0px 0px 0px;
		padding-bottom: 33px;
	}
	.contact__footer-left {
		margin-left: 2px;
	}
	.contact__footer-rigft p {
		margin: -6px 29px 0px 0px;
	}
	.contact__container{
		position: relative;
	}
	.projects__abs-content {
		top: 117px;
		left: -3px;
	}
}
@media (max-width: 768px)  {
	.swiper {
		height: 959px;
	}
	.main__title-content {
		margin: 0px 0px 0px 122px;
	}
	.main__title-block {
		height: 61%;
		width: 100%;
	}
	.main__title {
		font-size: 44px;
		line-height: 53px;
		width: 272px;
		margin: 0px 0px 31px 2px;
	}
	.text-border {
		margin: 0px 0px -1px 2px;
	}
	.button__slider-content {
		width: 40%;
		margin: 0 0 -4px 0;
	}
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		top: 3px;
		left: 0;
	}
	.button__slider-content span {
		margin: 0 40px 10px 17px;
	}
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 23px;
		top: -4px;
	}
	.number__slider-next {
		margin: 0px 12px -1px 0px;
	}
	.main__title-block-footer {
		height: 35.4%;
		margin: 0px 0px 0px 47px;
	}
	.main__tbf-lang p {
		margin: 0px 15px 2px 0px;
	}
	.country {
		margin: 0px 0px -3px 65px;
		padding: 1px 0px 1px 24px;
	}
	.back__call {
		margin: 0px 0px 2px 32px;
		gap: 16px;
	}
	.swiper__logo-next {
		bottom: 188px;
		left: -125px;
		height: 55px;
		width: 56%;
	}
	.pc-top__icon{
		display: none;
	}
	.philosophy__contents {
		padding-top: 104px;
	}
	.pc-top__text {
		color: #080808;
		margin: 0px 0px 0px 90px;
		width: 100%;
	}
	.projects__abs.philosophy__abs {
		top: 107px;
		left: 21px;
	}
	.pct__tit{
		width: 537px;
		br{
			display: none;
		}
	}
	.pct__tib{
		width: 520px;
		margin: 13px 0 12px 0;
	}
	.philosophy__content-bottom img:nth-child(1){
		width: 153px;
		height: 191px;
	}
	.pc-bottom__icon {
		margin-left: 90px;
		left: 0px;
	}
	.philosophy__content-bottom {
		margin: 183px 0px 96px 0px;
		gap: 0;
		display: block;
	}
	.pc-bottom__icon-min{
		width: 383px;
		height: 235px;
		left: 137px;
		top: -140px;
	}
	.pc-bottom__text{
		margin: 19px 85px 0 0;
		justify-content: end;
	}
	.pc-bottom__text p {
		width: 295px;
	}
	.pc-bottom__text span {
		margin-right: 16px;
		padding-top: 3px;
	}
	.projects__contents {
		padding-top: 104px;
	}
	.projects__abs {
		top: 109px;
		left: 10px;
	}
	.projects__gtid{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		margin-top: 97px;
		margin-left: 14px;
	}
	.projects-grid__icon-2{
		grid-row: 2/3;
    	grid-column: 1/2;
		width: 672px;
		height: 672px;
	}
	.projects-grid__icon-3{
		grid-row: 4/5;
		grid-column: 1/2;
		width: 672px;
		height: 672px;
		background-size: 178% 103%;
	}
	.projects-grid__icon-1{
		width: 672px;
		height: 672px;
	}
	.projects-grid__icon-4{
		width: 672px;
		height: 672px;
	}
	.projects-grid__icon-5{
		grid-row: 5/6;
		grid-column: 1/2;
		width: 672px;
		height: 672px;
		background-position-y: 195px;
		background-position-x: 211px;
		background-size: 37% 49.4%;
	}
	.pg__i2-top-text p:nth-child(1) {
		margin-right: 18px;
	}
	.pg__i2-top-text p:nth-child(2) {
		margin-right: 19px;
	}
	.pg__t1 {
		margin: 0px 0px 10px 33px;	
	}
	.pg__i1 {
		padding: 6px 0px 0px 0px;
	} 
	.pg__i2-top-text {
		margin: 25px 0 0 32px;
	}
	.pg__i2 {
		margin: 0px 0px 16px 32px;
	}
	.pg__i2-bottom-text {
		margin: 0 0 4px 33px;
	}
	.pgi__4 {
		margin: 0 0 4px 31px;
			p{
				font-size: 20px;
				line-height: 25px;
			}
	}
	.pg__t4 {
		margin: 0px 0px 10px 32px;
	}
	.pgi3__tt{
		padding: 6px 0px 0px 0px;
	}
	.pg__3-block {
		display: block;
		align-self: end;
	}
	.pg__t3 {
		margin: 0px 0px 10px 32px;
	}
	.pg-1__i3-bottom-text {
		margin: 0px 0px 3px 33px;
		line-height: 127%;
		width: 100%;
			p{
				br{
					display: none;
				}
			}
	}
	.projects-grid__icon-5 p {
		margin-top: 145px;
	}
	.projects__footer-contents {
		width: 100%;
		margin: 122px auto 0;
		padding-bottom: 124px;
	}
	.projects__fc-tetle {
		margin: 0 auto 0 170px;
	}
	.projects__abs {
		top: 19px;
		left: -3px;
	}
	.projects__fc-text a {
		margin-top: 51px;
	}
	.block__lorem-icon-title {
		padding: 358px 0px 351px;
	}
	.block__lorem-icon-title h2 {
		margin: 0px 0px 0px 46px;
		font-size: 44px;
		line-height: 54px;
	}
	.block__lorem-icon-title p {
		margin-top: 22px;
	}
	.lorem-icon-1 {
		top: -29px;
		left: 370px;
		width: 274.41px;
	}
	.lorem-icon-2 {
		top: 133px;
		left: 594px;
		width: 213.69px;
	}
	.lorem-icon-3 {
		top: 482px;
		left: 668px;
		width: 316.99px;
	}
	.lorem-icon-4 {
		top: 740px;
		left: 406px;
		width: 168.75px;
	}
	.lorem-icon-5 {
		top: 618px;
		left: 11px;
		width: 225.26px;
	}
	.lorem-icon-7 {
		top: 200px;
		right: -51px;
		width: 247.59px;
	}
	.lorem-icon-8 {
		position: absolute;
		top: 112px;
		right: -200px;
		width: 194.41px;
	}
	.content__title {
		padding: 87px 0px 0px 90px;
	}
	.projects__abs {
		top: 101px;
		left: 11px;
	}
	.content__informs{
		display: block;
		margin: 50px 80px 0px 90px
	}
	.content__inform-title p {
		margin-top: 15px;
		width: 92%;
	}
	.content__contents {
		width: 100%;
	}
	.content__inform-title.content__inform-title-1 {
		margin-right: -1px;
	}
	.content__inform-title-3 {
		padding: 0px 0px 0px 34px;
	}
	.content__infomt-contacts{
		margin: 0px 0px 0px 0px;
	}
	.content__infomt-contacts {
		margin: 50px auto 0px auto;
	}
	.projects__fc-text-footer {
		margin: -94px 0px 0px -49px;
		width: 100%;
	}
	.content__infomt-contacts {
		margin: 52px auto 0px auto;
		padding: 0 0 0 366px;
	}
	.ps-footer__text-2 {
		margin: 14px 0px 0px 0px;
	}
	.contact__footer {
		margin: 95px 0px 0px 0px;
		padding-bottom: 22px;
	}
	.contact__footer-left {
		margin-left: 14px;
	}
	.contact__footer-rigft p {
		margin: -6px 43px 0px 0px;
	}
}
@media (max-width: 375px)  {
	.swiper {
		height: 543px;
	}
	.swiper__logo-next h4{
		display: none;
	}
	.swiper__logo-next p{
		font-size: 18px;
		line-height: 18px;
		-webkit-text-fill-color: #fff;
		-webkit-text-stroke: 0px #fff;
	}
	.swiper__logo-next {
		bottom: 107px;
		left: -60px;
		height: 55px;
		width: 70%;
	}
	.main__title-block{
		flex-direction: column;
	}
	.button__slider-content {
		order: 1;
		width: 63%;
		margin: 147px 0px 0px 24px;
	}
	.main__title-content{
		order: 2;
		margin: 63px 0px 0px 22px;
	}
	.main__title-block{
		align-items: flex-start;
	}
	.main__title{
		font-size: 40px;
		line-height: 39px;
		margin: 0px 0px 36px 2px;
	}
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		top: -6px;
		left: 0px;
	}
	.number__slider-prev {
		margin: -7px 0px 0px 6px;
	}
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 24px;
		top: -10px;
	}
	.main__tbf-lang{
		display: none;
	}
	.main__title-block-footer {
		height: 34%;
		margin: 0px 0px 0px 24px;
	}
	.country {
		margin: 0px 0px -3px 0px;
		width: 117px;
	}
	.back__call{
		display: block;
		margin: 0px 0px 2px 54px;
	}
	.philosophy__contents {
		padding-top: 79px;
	}
	.pc-top__text {
		margin: 0px 0px 0px 15px;
	}
	.pc-top__text-title{
		font-size: 26px;
		line-height: 32px;
	}
	.projects__abs.philosophy__abs{
		display: none;
	}
	.pct__tit{
		width: 94%;
		margin: 13px 0 0px 0;
	}
	.pct__tib{
		width: 97%;
	}
	.philosophy__content-bottom {
		margin: 177px 0px 65px 0px;
	}
	.pc-bottom__icon {
		margin-left: 15px;
		left: 0px;
	}
	.philosophy__content-bottom img:nth-child(1){
		width: 131px;
		height: 163px;
	}
	.pc-bottom__icon-min{
		width: 264px;
		height: 162px;
		left: 63px;
    	top: -118px;
	}
	.pc-bottom__text {
		margin: 76px 0 0 15px;
		justify-content: start; 
	}
	.pc-bottom__text span {
		margin-right: 29px;
		padding-top: 4px;
	}
	.projects__abs{
		display: none;
	}
	.projects__contents {
		padding-top: 80px;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	.projects__title{
		text-align: left;
		margin: 0px 0px 0px 15px;
	}
	.projects__title h2{
		font-size: 26px;
		line-height: 32px;
	}
	.projects__title p{
		width: 97%;
		margin: 13px 0px 0px 0px;
	}
	.projects__gtid {
		margin-top: 80px;
	}
	.projects-grid__icon-1{
		width: 327px;
		height: 327px;
	}
	.pg__i1 {
		padding: 0px 0px 0px 0px;
	}
	.pg__i2-top-text {
		margin: 23px 0 0 24px;
	}
	.pg__i2 {
		margin: 0px 0px 2px 24px;
	}
	.projects-grid__icon-3{
		grid-row: 2/3;
		width: 327px;
		height: 327px;	
		background-size: 179% 100%;
	}
	.projects-grid__icon-2{
		width: 327px;
		height: 327px;
		grid-row: 3/4;	
	}
	.projects-grid__icon-4{
		width: 327px;
		height: 327px;
		grid-row: 4/5 ;
	}
	.projects-grid__icon-6{
		display: grid;
		background-image: url('@img/projects/projects6.jpg');
		background-repeat: no-repeat;
		background-position: center;
		width: 327px;
		height: 327px;
		grid-row: 5/6;
	}
	.projects-grid__icon-5{
		width: 327px;
		height: 327px;
		grid-row: 6/7;
	}
	.pgi3__tt {
		padding: 0px 0px 0px 0px;
	}
	.pg-1__i3-bottom-text {
		margin: 0px 0px -13px 24px;
	}
	.pg__i2-bottom-text {
		margin: 0 0 -11px 24px;
	}
	.pg__i6 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		height: 100%;
	}
	.projects-grid__icon-5{
		background-position-x: center;
		background-position-y: 103px;
	}
	.projects-grid__icon-5 p {
		margin-top: 62px;
	}
	.projects__footer-contents {
		margin: 96px auto 0;
		padding-bottom: 97px;
	}
	.projects__fc-tetle{
		margin: 0px 0px 0px 17px;
		text-align: left;
		font-size: 26px;
		line-height: 32px;
		width: 82%;
	}
	.projects__fc-text{
		width: 93%;
		text-align: left;
		margin: 19px 0 0 17px;
	}
	.projects__fc-text p{		
		font-size: 14px;
		line-height: 24px;
	}
	.projects__fc-text a {
		margin-top: 41px;
		margin-left: 0px;
	}
	.block__lorem-icon-title h2{
		font-size: 32px;
		line-height: 39px;
	}
	.block__lorem-icon-title p{
		font-size: 14px;
		line-height: 24px;
	}
	.block__lorem-icon-title {
		padding: 289px 0px 260px;
		width: 93%;
		margin: 0px 0px 0px 0px;
	}
	.block__lorem-icon-title p{
		margin-top: 14px;
		margin-left: 28px;
	}
	.lorem-icon-8{
		width: 121.64px;
		height: 80.88px;
		top: 36px;
		right: -166px;
	}
	.lorem-icon-7{
		width: 156.13px;
		height: 104.08px;
		top: 98px;
    right: -58px;
	}
	.lorem-icon-6{
		display: block;
		width: 146px;
		height: 123px;
		top: 482px;
		left: -68px;
	}
	.lorem-icon-5{
		width: 105.81px;
		height: 70.21px;
		z-index: 1;
		top: 459px;
    	left: 13px;
	}
	.lorem-icon-4 {
		top: 616px;
		left: 221px;
		width: 105.81px;
		height: 70.21px;
	}
	.lorem-icon-3 {
		top: 412px;
		left: 307px;
		width: 198.76px;
		height: 139.43px;
	}
	.lorem-icon-2{
		display: none;
	}
	.lorem-icon-1 {
		top: 111px;
		left: 286px;
		width: 172.06px;
		height: 114.21px;
	}
	.content__title {
		padding: 56px 0px 0px 15px;
	}
	.content__title h4{
		font-size: 26px;
		line-height: 32px;
	}
	.content__title p{
		width: 94%;
		font-size: 14px;
		line-height: 23px;
		margin-top: 15px;
	}
	.content__contents{
		flex-wrap: wrap;
		height: 100%;
	}
	.content__informs{
		margin: 41px 0px 0px 16px;
		display: flex;
		flex-direction: column;
	}
	.content__inform-title-2 {
		padding: 0px 0px 0px 0px;
	}
	.content__inform-title-3 {
		padding: 0px 0px 0px 0px;
	}
	.content__inform-title p{
		width: 87%;
		margin-top: 9px;
	}
	.content__inform-title.content__inform-title-1 {
		margin-right: 0px;
		width: 45%;
	}
	.content__inform-title.content__inform-title-2 {
		margin-right: 0px;
		width: 50%;
		padding: 0 0 0 2px;
	}
	.content__inform-title.content__inform-title-3 {
		margin-right: 0px;
		margin-top: 32px;
		width: 50%;
	}
	.content__infomt-contacts{
		margin: 34px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.ps-footer__text-2 {
		margin: 16px 0px 0px 0px;
	}
	.projects__fc-text-footer {
		margin: 4px 0px 0px 16px;
		width: 100%;
	}
	.contact__footer{
		margin: 55px 0px 0px 16px;
		padding: 0px 0px 24px 0px;
		flex-direction: column;
		align-items: flex-start;
	}
	.contact__footer-left{
		margin: 0px 0px 0px 0px;
	}
	.contact__footer-rigft p{
		margin: 0px 0px 0px 0px;
	}
	.contact__footer-rigft{
		margin: 12px 0px 0px 4px;
	}
	.footer__first{
		margin: 0px 0px 0px 30px;
	}
}

//News========================================

@media (max-width: 1024px) {
	.news__header-nav {
		display: block;
		margin: 162px 0px 0px 103px;
	}
	.news__header-nav h2{
		margin: 0px 0px 0px 0px;
		font-size: 32px;
		line-height: 39px;
	}
	.header__nav-news{
		margin: 25px 0px 0px 0px;
		width: 318px;
	}
	.grid-news__contents{
		margin: 107px 0px 0px 0px;
		gap: 6px 6px;
	}
	.grid-news__content-1{
		height: 453px;
		padding: 0px 0px 46px 40px;
	}
	.grid-news__content-1 p{
		width: 77%;
		margin: 0 0 44px 6px;
	}
	.discover p{
    margin: 0px 9px 0px 8px;
    opacity: 1;
	width: auto;
	}
	.grid-news__content-1 h4{
		font-size: 20px;
		line-height: 24px;
		margin: 0 0 22px 6px;
	}
	.grid-news__content-3 p{
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 46px 46px;
	}
	.grid-news__content-4 p{
		font-size: 20px;
		line-height: 26px;
		margin: 0 0 46px 46px;
	}
	.grid-news__content-6{
		height: 453px;
		padding: 0px 0px 46px 36px;
	}
	.grid-news__content-6 p{
		display: none;
	}
	.grid-news__content-6 h4{
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 40px 6px;
	}
	.discover p{
		display: block;
	}
	.numbers__nav{
		margin: 65px 0 124px 0;
	}
	.news-email__icon {
		left: -56px;
		height: 593px;
		width: 113%;
	}
	.news-email__content-top{
		font-size: 32px;
		line-height: 39px;
		padding: 124px 0 0 103px;
		width: 51%;
			br{
				display: none;
			}
	}
	.news-email__content-bottom p {
		margin: 21px 89px 0 0;
		width: 39%;
		line-height: 23.9px;
			br{
				display: none;
			}
	}
	.email-btn{
		margin: 27px 104px 0px 0px;
	}
	.email-block{
		width: 325px;
		font-size: 16px;
		line-height: 170%;
	}
	.send {
		margin: 10px 2px 0 0;
	}
	.footer__contents {
		margin: 123px 0px 0px 0px;
	}
	.footer__left{
		margin: 3px 0px 0px 0px;
	}
	.footer__right p{
		margin: -3px 24px 0px 0;
	}
}
@media (max-width: 768px)  {
	.news__header-nav {
		display: block;
		margin: 138px 0px 0px 90px;
	}
	.header__nav-news {
		width: 324px;
	}
	.grid-news__contents {
		margin: 99px 0px 0px 0px;
		padding: 0 15px;
	}
	.grid-news__content-1{
		height: 333px;
		padding: 0px 0px 32px 25px;
	}
	.grid-news__content-1 p{
		display: none;
	}
	.discover p{
		display: block;
	}
	.grid-news__content-1 h4{
		font-size: 16px;
		line-height: 21px;
		margin: 0 0 40px 6px;
	}
	.grid-news__content-3 p{
		font-size: 16px;
		line-height: 21px;
		margin: 0 0 32px 31px;
	}
	.grid-news__content-4 p{
		font-size: 16px;
		line-height: 21px;
		margin: 0 0 32px 32px;
	}
	.grid-news__content-6{
		height: 333px;
		padding: 0px 0px 32px 20px;
	}
	.grid-news__content-6 h4{
		font-size: 16px;
		line-height: 21px;
		margin: 0 0 40px 6px;
	}
	.numbers__nav {
		margin: 57px 0 104px 0;
	}
	.number__nsv-number {
		width: 140px;
	}
	.numbers__nav-prev{
		margin: 0px 25px 1px 0px;
	}
	.numbers__nav-next{
		margin: 0px 0px 2px 25px;
	}
	.news-email__content-top {
		padding: 104px 0 0 90px;
		width: 65%;
	}
	.news-email__content-bottom p {
		margin: 21px 89px 0 168px;
		width: 74.5%;
		line-height: 23.9px;
	}
	.news-email__container{
		height: 100%;
	}
	.news-email__icon {
		left: -33px;
		height: 540px;
		width: 110%;
	}
	.email-btn {
		margin: 38px 93px 0px 0px;
	}
	.email-block {
		width: 498px;
	}
	.footer__contents {
		margin: 103px 6px 22px 14px;
	}
	.footer__right p {
		margin: -3px 28px 0px 0;
	}
}
@media (max-width: 375px)  {
	.news__header-nav h2{
		font-size: 26px;
		line-height: 32px;
	}
	.news__header-nav {
		margin: 116px 0px 0px 16px;
	}
	.header__nav-news{
		display: none;
	}
	.header-select__nav-news{
		display: block;
		background-color: transparent;
		border: 1px solid #C4C4C4;
		border-radius: 88px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.06em;
		color: #080808;
		width: 128px;
		height: 29px;
		padding: 0px 0px 1px 12px;
		margin: 17px 0 0 -1px;
		appearance: none;
		background-image: url('@img/svgicons/drop__select.svg');
		background-repeat: no-repeat;
		background-position: right 11px top 11px;
	}
	.grid-news__contents{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		margin: 64px 0px 0px 0px;
	}
	.grid-news__content-1{
		height: 355px;
		padding: 0px 0px 24px 18px;
	}
	.grid-news__content-icons-1{
		display: block;
		inline-size: 106%;
		position: relative;
		top: -23px;
		left: -18.5px;
	}
	.grid-news__content-1 h4{
		br{
			display: none;
		}
		margin: 0 0 36px 6px;
	}
	.grid-news__content-2{
		display: none;
	}
	.grid-news__content-3{
		height: 327px;
	}
	.grid-news__content-3 p {
		line-height: 21px;
		margin: 0 0 24px 24px;
	}
	.grid-news__content-4{
		grid-row: 3/4;
    	grid-column: 1/2;
		height: 327px;
		margin: -28px 0 0 0;
	}
	.grid-news__content-4 p {
		line-height: 21px;
		margin: 0 0 24px 24px;
	}
	.grid-news__content-5{
		display: none;
	}
	.grid-news__content-6{
		height: 355px;
		padding: 0px 0px 25px 18px;
		grid-row: 4/5;
    	grid-column: 1/2;
		margin: -55px 0 0 0;
	}
	.grid-news__content-icons-6{
		display: block;
		inline-size: 106%;
		position: relative;
		top: -23px;
		left: -18.5px;
	}
	.grid-news__content-6 h4{
		br{display: none;}
		margin: 0 0 36px 6px;
	}
	.numbers__nav {
		margin: -7px 0 80px 0;
	}
	.news-email__icon{
		height: 518px;
		left: -10px;
   		width: 110%;
	}
	.news-email__content-top{
		padding: 80px 0px 0px 15px;
		width: 86%;
		font-size: 26px;
		line-height: 32px;
	}
	.news-email__content-bottom p{
		margin: 22px 10px 0px 0px;
		width: 93%;
	}
	.email-btn{
		margin: 36px auto 0px;
		width: 91.5%;
	}
	.email-block{
		width: 94%;
	}
	.send {
		margin: 12px 2px 0 0;
	}
	.footer__contents {
		margin: 79px 0px 22px 15px;
		display: block;
	}
	.footer__right {
		margin: 10px 0px 0 4px;
	}
}

//OneNews========================================

@media (max-width: 1024px) {
	.onenews-production__title{
		font-size: 32px;
		line-height: 39px;
		margin: 0px 0px 0px 103px;
	}
	.onenews-production__share{
		display: none;
	}
	.onenews-production__text{
		font-size: 14px;
		line-height: 24px;
		margin: 21px 0px 0px 103px;
    	width: 77%;
	}
	.onenews-production__content {
		margin: 162px 0px 0px 0px;
	}
	.onenews-bigicon__container img {
		margin: 72px 0 0 0;
	}
	.onenews-consectetur__container {
		color: #080808;
		padding: 0 0 0 103px;
	}
	.onenews-consectetur__title {
		margin: 88px 0 0 0;
		width: 51%;
	}
	.onenews-consectetur__text-top {
		width: 86%;
		margin: 21px 0 0 0px;
	}
	.onenews-consectetur__list {
		margin: 22px 0 0 0;;
	}
	.onenews-consectetur__text-bottom {
		margin: 32px 0 0 0;
		width: 88%;
	}
	.onenews-grid {
		margin: 80px 0px 0px 0px;
	}
	.onenews-grid__icon-1{
		img{
			width: 912px;
		}
	}
	.onenews-grid__icon-2{
		margin-top: -45px;
		img{
			width: 452px;
			height: 544px;
		}
	}
	.onenews-grid__icon-3{
		margin-top: -45px;
		img{
			width: 452px;
			height: 544px;
		}
	}
	.onenews-consectetur__title-bottom{
		margin: 87px 0px 0px 0px;
	}
	.onenews-consectetur__text-top-bottom {
		width: 89%;
		margin: 22px 0px 0px 0px;
		letter-spacing: 0.01px;
	}
	.onenews-consectetur__list-bottom{
		margin: 32px 0px 0px 0px;
	}
	.onenews-consectetur__text-bottom-bottom {
		line-height: 23.9px;
		opacity: 0.9;
		width: 88%;
		margin: 32px 0px 0px 0px;
	}
	.onenews-production__share-1024{
		display: flex;
		flex-direction: column;
		margin: 48px 0px 0px 0px;
	}
	.onenews-swiper__title {
		font-size: 32px;
		line-height: 39px;
		margin: 213px 0px 0px 103px;
	}
	.popular__slider {
		margin: 56px 0px 0px 104px;
	}
	.popular-slider {
		height: 100%;
		overflow: visible;
		width: 43.4%;
		margin: 0 0 0 124px;
	}
	.popular-slide__thumb{
		img{
			width: 293px;
			height: 361px;
		}
	}
	.popular-slide__title {
		margin: 24px 0 0 0px;
	}
	.popular-slide__desc {
		margin: 13px 0 0 0px;
	}
	.footer__contents-onenews {
		margin: 117px 0px 0px 0px;
	}
}
@media (max-width: 768px)  {
	.onenews-production__content {
		margin: 138px 0px 0px 0px;
	}
	.onenews-production__title {
		margin: 0px 0px 0px 91px;
	}
	.onenews-production__text {
		margin: 12px 0px 0px 90px;
		width: 74.7%;
	}
	.onenews-bigicon__container img {
		margin: 65px 0 0 14px;
		height: 335px;
		width: 672px;
	}
	.onenews-consectetur__container {
		padding: 0 0 0 90px;
	}
	.onenews-consectetur__title {
		margin: 71px 0 0 0;
		width: 67%;
	}
	.onenews-consectetur__text-top {
		width: 85.7%;
		margin: 21px 0 0 0px;
	}
	.onenews-consectetur__list {
		margin: 33px 0 0 0;
		gap: 10px;
		width: 87%;
	}
	.onenews-consectetur__text-bottom {
		width: 83%;
	}
	.onenews-grid__icon-1 img{
		width: 672px;
	}
	.onenews-grid {
		margin: 75px 0px 0px 0px;
		padding: 0 14px 0 14px;
	}
	.onenews-grid__icon-2 img{
		width: 332px;
		height: 400px;
	}
	.onenews-grid__icon-2 {
		margin-top: -33px;
	}
	.onenews-grid__icon-3 {
		margin-top: -33px;
	}
	.onenews-grid__icon-3 img{
		width: 332px;
		height: 400px;
	}
	.onenews-consectetur__title-bottom {
		margin: 71px 0px 0px 0px;
	}
	.onenews-consectetur__text-top-bottom {
		width: 86%;
		margin: 21px 0px 0px 0px;
	}
	.onenews-consectetur__list-bottom {
		margin: 33px 0px 0px 0px;
		gap: 10px;
		width: 85%;
	}
	.onenews-consectetur__list-bottom li {
		background-position: left top 10px;
	}
	.onenews-consectetur__text-bottom-bottom {
		width: 87%;
	}
	.onenews-production__share-1024 {
		margin: 40px 0px 0px 0px;
	}
	.onenews-swiper__title {
		margin: 177px 0px 0px 90px;
	}
	.popular__slider {
		margin: 48px 0px 0px 90px;
	}
	.popular-slide__thumb img{
		width: 366px;
		height: 450px;
	}
	.popular-slider {
		height: 100%;
		overflow: visible;
		width: 64.5%;
		margin: 0 0 0 0;
	}
	.popular-slide__title {
		margin: 24px 0 0 1px;
	}
	.footer__contents-onenews {
		margin: 97px 5px 23px 14px;
	}
}
@media (max-width: 375px)  {
	.onenews-production__title{
		font-size: 26px;
		line-height: 32px;
		margin: 0px 0px 0px 15px;
    	width: 72%;
			br{
				display: none;
			}
	}
	.onenews-production__text{
		font-size: 14px;
		line-height: 24px;
		margin: 13px 0px 0px 15px;
		width: 93%;
	}
	.onenews-production__content {
		margin: 116px 0px 0px 0px;
	}
	.onenews-bigicon__container img {
		height: 220px;
		inline-size: 100%;
		width: 92%;
		margin: 56px 0 0 14px;
	}
	.onenews-consectetur__container {
		padding: 0 0 0 15px;
	}
	.onenews-consectetur__title {
		margin: 63px 0 0 0;
		width: 86%;
	}
	.onenews-consectetur__text-top {
		width: 98%;
	}
	.onenews-consectetur__list {
		margin: 21px 0 0 0;
		gap: 10px;
		width: 96%;
	}
	.onenews-consectetur__text-bottom {
		width: 100%;
	}
	.onenews-grid {
		margin: 67px 0px 0px 0px;
		padding: 0 14px 0 14px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.onenews-grid__icon-1{
		grid-column: 1/2;
	}
	.onenews-grid__icon-1 img{
		width: 327px;
		height: 220px;
	}
	.onenews-grid__icon-2 {
		margin-top: -115px;
	}
	.onenews-grid__icon-2 img{
		width: 327px;
		height: 393px;
	}
	.onenews-grid__icon-3 img{
		width: 327px;
		height: 392px;
	}
	.onenews-grid__icon-3{
		grid-row: 3/4;
    	grid-column: 1/2;
		margin-top: -57px;
	}
	.onenews-consectetur__title-bottom {
		margin: 63px 0px 0px 0px;
	}
	.onenews-consectetur__text-top-bottom {
		width: 96%;
	}
	.onenews-consectetur__list-bottom {
		margin: 32.5px 0px 0px 0px;
		gap: 11.9px;
		width: 96%;
		line-height: 23.1px;
	}
	.onenews-consectetur__text-bottom-bottom {
		width: 96%;
	}
	.onenews-production__share-1024 {
		margin: 33px 0px 0px 0px;
	}
	.onenews-production__share-link {
		margin: 11px 0px 0px 0px;
	}
	.onenews-swiper__title {
		margin: 145px 0px 0px 15px;
		font-size: 26px;
		line-height: 32px;
		width: 100%;
	}
	.popular-slide__thumb img{
		width: 290px;
		height: 357px;
	}
	.popular__slider {
		margin: 40px 0px 0px 15px;
	}
	.popular-slider {
		width: 105.5%;
	}
	.popular-slide__title {
		margin: 24px 0 0 0px;
	}
	.footer__contents-onenews {
		margin: 73px 5px 23px 14px;
	}
}

//Projects========================================

@media (max-width: 1024px) {
	.projects__contents-header{
		display: block;
		margin: 162px 0px 0px 0px;
	}
	.projects__heaer-title {
		margin: 0px 0px 0px 103px;
		font-size: 32px;
		line-height: 39px;
	}
	.projects__heaer-content{
		margin: 13px 0px 0px 103px;
		width: 100%;
			br{
				display: block;
			}
	}
	.projects__header-nav {
		width: 340px;
	}
	.header__nav-projects{
		letter-spacing: 0;
	}
	.projects-grid__contents {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		gap: 6px 6px;
		margin: 107px 0px 0px 0px;
	}
	.projects-grid__content-1{
		height: 453px;
	}
	.projects-grid__text-content-1,
	.projects-grid__text-content-3,
	.projects-grid__text-content-4,
	.projects-grid__text-content-5,
	.projects-grid__text-content-6   {
    display: flex;
	}
	.discover-white {
		display: flex;
			p{
				color: #fff;
			}
			span{
				border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			}
	}
	.projects-text__content-top-1{
		display: flex;
		width: 206px;
		font-size: 11px;
		line-height: 12px;
		padding: 33px 0px 0px 33px;
	}
	.projects-text__content-bottom {
		padding: 0px 0px 33.67px 28px;
	}
	.projects-text__content-bottom-1{
		font-size: 20px;
		line-height: 25px;
		color: #FAFAFA;
		margin: 0px 0px 26px 5px;
		width: 100%;
	}
	.projects-text__content-top-2{
		width: 207px;
		font-size: 11px;
		line-height: 12px;
		padding: 33px 0px 0px 34px;
	}
	.projects-text__content-bottom-2{
		padding: 0px 0px 33.67px 22px;
	}
	.projects-text__content-bottom-22{
		margin: 0px 0px 25px 6px;
		padding: 0px 0px 0px 0px;
		
		font-size: 20px;
    	line-height: 25px;
	}
	.projects-text__content-top-3{
		padding: 33px 0px 0px 33px;
		width: 191px;
		font-size: 11px;
		line-height: 12px;
	}
	.projects-text__content-bottom-3{
		display: flex;
		justify-content: space-between;
		
		padding: 0px 0px 27.6px 33px;
	}
	.projects-text__content-bottom-33{
		font-size: 20px;
		line-height: 25px;
	}
	.discover-white-3{
		margin: 27px 83px 0px 0px;
	}
	.projects-text__content-top-4{
		width: 204px;
		font-size: 11px;
		line-height: 12px;
		padding: 32px 0px 0px 31px;
	}
	.projects-text__content-bottom-4{
		padding: 0px 0px 34.67px 26px;
	}
	.projects-text__content-bottom-44{
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 26px 5px;
	}
	.projects-text__content-top-5{
		width: 204px;
		font-size: 11px;
		line-height: 12px;
		padding: 32px 0px 0px 31px;
	}
	.projects-text__content-bottom-5{
		padding: 0px 0px 34.67px 26px;
	}
	.projects-text__content-bottom-55{
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 26px 5px;
	}
	.projects-text__content-top-6{
		padding: 32px 0px 0px 32px;
		width: 191px;
		font-size: 11px;
		line-height: 12px;
	}
	.projects-text__content-bottom-6{
		display: flex;
		justify-content: space-between;
		
		padding: 0px 0px 29.2px 32px;
	}
	.projects-text__content-bottom-66{
		font-size: 20px;
		line-height: 25px;
	}
	.discover-white-6{
		margin: 28px 84px 0px 0px;
	}
	.projects-white__text-top {
		font-size: 32px;
		line-height: 46px;
		margin: 119px 0px 0px 277px;
		text-align: center;
		width: 358px;
	}
	.projects-white__text-bottom {
		align-items: center;
		text-align: center;
		margin: 24px 1px 0 0;
	}
	.projects-white__text-bottom p {
		width: 450px;
	}
	.projects-white__text-bottom a{
		margin: 67px 0px 0px 3px;
		height: 42px;
		padding: 0px 0 0px 0px;
		width: 182px;
	}
	.footer__contents-projects{
		margin: 123px 0px 22px 0px;
	}
}
@media (max-width: 768px)  {
	.projects__contents-header {
		display: block;
		margin: 138px 0px 0px 0px;
	}
	.projects__heaer-title {
		margin: 0px 0px 0px 90px;
	}
	.projects__heaer-content {
		margin: 13px 0px 0px 90px;
		width: 75%;
	}
	.projects__heaer-text{
		br{display: none;}
	}
	.projects-grid__contents {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 6px;
		margin: 99px 0px 0px 0px;
		padding: 0px 15px 0px 15px;
	}
	.projects-grid__content-1{
		height: 672px;
	}
	.projects-grid__content-2{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.projects-grid__content-3{
		grid-column: 1/2;
		grid-row: 3/4;
		background-size: 179% 100%;
	}
	.projects-grid__content-4{
		grid-column: 1/2;
		grid-row: 4/5;
	}
	.projects-grid__content-5{
		grid-column: 1/2;
		grid-row: 5/6;
	}
	.projects-grid__content-6{
		grid-column: 1/2;
		grid-row: 6/7;
		background-size: 147% 100%;
	}
	.projects-text__content-top-1 {
		width: 189px;
		padding: 33px 0px 0px 31px;
	}
	.projects-text__content-bottom {
		padding: 0px 0px 31.67px 25px;
	}
	.projects-text__content-top-2 {
		width: 189px;
		font-size: 11px;
		line-height: 12px;
		padding: 27px 0px 0px 31px;
	}
	.projects-text__content-bottom-2 {
		padding: 0px 0px 37.67px 25px;
	}
	.projects-text__content-top-3 {
		padding: 27px 0px 0px 31px;
		width: 189px;
	}
	.projects-text__content-bottom-3{
		display: block;
		padding: 0px 0px 38px 32px;
	}
	.projects-text__content-top-4 {
		width: 189px;
		padding: 27px 0px 0px 31px;
	}
	.projects-text__content-bottom-4 {
		padding: 0px 0px 37.67px 25px;
	}
	.projects-text__content-top-5 {
		width: 189px;
		padding: 33px 0px 0px 31px;
	}
	.projects-text__content-top-6 {
		padding: 33px 0px 0px 31px;
		width: 189px;
	}
	.projects-text__content-bottom-6{
		display: block;
		padding: 0px 0px 31.67px 32px;
	}
	.projects-white__text-top {
		margin: 101px 0px 0px 167px;
		width: 367px;
	}
	.projects-white__text-bottom a {
		margin: 51px 0px 0px 3px;
	}
	.footer__contents-projects {
		margin: 103px 5px 22px 14px;
	}
}
@media (max-width: 375px)  {
	.projects__contents-header {
		margin: 116px 0px 0px 0px;
	}
	.projects__heaer-title{
		font-size: 26px;
		line-height: 32px;
		margin: 0px 0px 0px 15px;
	}
	.projects__heaer-content {
		margin: 13px 0px 0px 15px;
		width: 93%;
	}
	.header__nav-projects{
		display: none;
	}
	.header-nav__projects-btn{
		display: flex;
		align-items: center;
		justify-content: center;

		border: 1px solid #C4C4C4;
		border-radius: 88px;
		background-color: transparent;
		background-image: url('@img/svgicons/drop__select.svg');
		background-repeat: no-repeat;
		background-position: right 11px top 11px;


		width: 128px;
		height: 29px;

		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.06em;

		margin: 28px 0px 0px 0px;
		padding: 0px 28px 0px 0px;
	}
	.projects-grid__contents {
		margin: 63px 0px 0px 0px;
	}
	.projects-grid__content-1{
		height: 327px;
	}
	.projects-text__content-top-1 {
		width: 182px;
		padding: 26px 0px 0px 24px;
	}
	.projects-text__content-bottom-1 {
		margin: 0px 0px 11px 6px;
		width: 73%;
	}
	.projects-text__content-bottom {
		padding: 0px 0px 22.67px 18px;
	}
	.projects-text__content-top-2 {
		width: 182px;
		padding: 26px 0px 0px 24px;
	}
	.projects-text__content-bottom-22 {
		margin: 0px 0px 10px 6px;
	}
	.projects-text__content-top-3 {
		padding: 26px 0px 0px 25px;
		width: 182px;
	}
	.projects-text__content-top-4 {
		width: 182px;
		padding: 26px 0px 0px 24px;
	}
	.projects-text__content-bottom-44 {
		font-size: 20px;
		line-height: 25px;
		margin: 0 0 11px 6px;
	}
	.projects-text__content-top-5 {
		width: 181px;
		padding: 26px 0px 0px 24px;
	}
	.projects-text__content-bottom-55 {
		margin: 0 0 11px 5px;
	}
	.projects-text__content-top-6 {
		padding: 26px 0px 0px 24px;
		width: 182px;
	}
	.projects-text__content-bottom-6 {
		padding: 0px 0px 22.67px 25px;
	}
	.projects-text__content-bottom-66{
		br{display: none;}
	}
	.discover-white-6 {
		margin: 11px 84px 0px 0px;
	}
	.projects-white__text-top {
		margin: 97px 0px 0px 15px;
		width: 83%;
		font-size: 26px;
		line-height: 32px;
		text-align: left;
	}
	.projects-white__text-bottom {
		margin: 13px 0px 0 15px;
		text-align: left;
		align-items: flex-start;
	}
	.projects-white__text-bottom p{
		width: 96%;
	}
	.projects-white__text-bottom a {
		margin: 40px 0px 0px 0px;
		padding: 2px 0 0px 0px;
	}
	.footer__contents-projects {
		margin: 95px 5px 22px 15px;
	}
	.footer__right-projects {
		margin: 8px 0px 0 4px;
	}
}

//OneProjects========================================

@media (max-width: 1024px) {
	.header__oneprojects{
		background-image: url('@img/oneprojects/header-oneprojects-big1024.jpg');
	}
	.oneprojects__contents {
		padding: 234px 0px 33px 0px;
	}
	.oneprojects__header-title{
		font-size: 32px;
		line-height: 39px;
		margin: 0px 0px 0px 103px;
			br{
				display: block;
			}
	}
	.oneprojects__header-text {
		width: 51%;
		font-size: 14px;
		line-height: 24px;
		margin: 21px 0px 0px 103px;
	}
	.oneprojects__header-thumb {
		margin: 51px 0px 0px 103px;
	}
	.oneprojects__header-share {
		display: flex;
		align-items: center;
		margin: 175px 0 0 0px;
	}
	.oneprojects__header-share-icons {
		margin: 0px 0 0 59px;
	}
	.main-text__oneprojects-title {
		width: 45%;
		margin: 123px 0px 0px 103px;
	}
	.main-text__oneprojects-text {
		width: 66%;
		margin: 13px 0px 0px 103px;
	}
	.discover__main-text {
		margin: 45px 0px 0px 104px;
	}
	.oneprojects-grid__content {
		margin: 125px 0px 0px 0px;
	}
	.oneprojects-grid__content-icon-2{
		height: 101%;
	}
	.oneprojects-grid__content-icon-3{
		height: 101%;
	}
	.oneprojects-grid__content-icon-4 {
		height: 99%;
		margin: 5px 0 00 0;
	}
	.oneprojects-grid__btn{
		margin: 65px auto 0px auto;
	}
	.oneprojects__footer-contents {
		margin: 124px auto 0px;
		padding: 1px 0px 263px 0px;
	}
	.oneprojects__abs{
		display: flex;
		top: 141px;
		left: 39px;
		z-index: 2;
	}
	.oneprojects__fc-tetle{
		margin: 0 auto 0 276px
	}
	.oneprojects__perfect {
		text-align: center;
		margin: 142px 0px 0px 0px;
	}
	.oneprojects__perfect p{
		font-size: 8px;
		line-height: 11px;
		letter-spacing: 0.2em;
		margin: 0 0px 0 0px;
	}
	.oneprojects__perfect h2{
		font-size: 32px;
		line-height: 39px;
	}
	.oneprojects__footer-contents {
		padding: 1px 0px 374px 0px;
	}
	.footer-invis{
		display: none;
	}
	.oneprojects__footer-bigicon {
		position: absolute;
		bottom: -374px;
		width: 100%;
	}
}
@media (max-width: 768px)  {
	.oneprojects__contents {
		padding: 369px 0px 33px 0px;
	}
	.oneprojects__header-title {
		margin: 0px 0px 0px 90px;
	}
	.oneprojects__header-text {
		width: 65%;
		margin: 21px 0px 0px 90px;
	}
	.oneprojects__header-thumb {
		margin: 35px 0px 0px 90px;
	}
	.oneprojects__header-share {
		margin: 311px 0 0 14px;
	}
	.oneprojects__header-share-icons {
		margin: 0px 0 0 32px;
	}
	.header__oneprojects{
		background-image: url('@img/oneprojects/header-oneprojects-big768.jpg');
	}
	.main-text__oneprojects-title {
		width: 59%;
		margin: 103px 0px 0px 91px;
	}
	.main-text__oneprojects-text {
		width: 74.7%;
		margin: 21px 0px 0px 90px;
			br{
				display: none;
			}
	}
	.discover__main-text {
		margin: 45px 0px 0px 92px;
	}
	.oneprojects-grid__content {
		margin: 104px 0px 0px 0px;
		padding: 0 14px 0 14px;
	}
	.oneprojects-grid__content-icon-4 {
		margin: 4px 0 0 0;
	}
	.oneprojects-grid__btn {
		margin: 56px 252px 0px auto;
		padding: 1px 0 0 0;
	}
	.oneprojects__footer-contents {
		margin: 104px auto 0px;
	}
	.oneprojects__abs {
		left: 31px;
	}
	.oneprojects__fc-tetle {
		margin: -1px auto 0 170px;
	}
	.oneprojects__perfect {
		text-align: center;
		margin: 124px 0px 0px 0px;
	}
	.oneprojects__perfect h2 {
		margin: 12px 0 0 0;
	}
	.oneprojects__footer-bigicon {
		position: absolute;
		bottom: -259px;
		width: 100%;
		padding: 0 14px;
	}
	.oneprojects__footer-contents {
		padding: 1px 0px 215px 0px;
	}
}
@media (max-width: 375px)  {
	.header__oneprojects {
		background-image: url('@img/oneprojects/header-oneprojects-big375.jpg');
	}
	.oneprojects__contents {
		padding: 107px 0px 25px 0px;
	}
	.oneprojects__header-title{
		font-size: 26px;
		line-height: 32px;
		margin: 0px 0px 0px 14px;
	}
	.oneprojects__header-text {
		width: 91%;
		margin: 12px 0px 0px 14px;
	}
	.oneprojects__header-thumb {
		margin: 36px 0px 0px 0px;
		display: block;
	}
	.oneprojects__header-thumb-1 {
		margin: 0 0 0 14px;
	}
	.oneprojects__header-thumb-2 {
		margin: 24px 0px 0px 14px;
	}
	.thumb-text-2 {
		margin: 0px 0px 0px 12px;
	}
	.oneprojects__header-thumb-3 {
		margin: 23px 0px 0px 14px;
	}
	.oneprojects__header-thumb-3 {
		margin: 23px 0px 0px 14px;
	}
	.thumb-text-3 {
		margin: 4px 0px 0px 12px;
	}
	.oneprojects__header-share {
		margin: 58px 0 0 16px;
	}
	.oneprojects__header-share-icons {
		margin: 0px 0 0 16px;
	}
	.main-text__oneprojects-title {
		width: 84%;
		margin: 79px 0px 0px 15px;
	}
	.main-text__oneprojects-text {
		width: 91%;
		margin: 21px 0px 0px 15px;
	}
	.discover__main-text {
		margin: 44px 0px 0px 16px;
	}
	.oneprojects-grid__content {
		margin: 80px 0px 0px 0px;
		grid-template-columns: 1fr;
		padding: 0 15px 0 15px;
	}
	.oneprojects-grid__content-icon-1{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.oneprojects-grid__content-icon-2{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.oneprojects-grid__content-icon-3{
		grid-column: 1/2;
		grid-row: 3/4;
		margin: 3px 0 0 0;
    	height: 100%;
	}
	.oneprojects-grid__content-icon-4{
		grid-column: 1/2;
		grid-row: 4/5;
		margin: 3px 0 0 0;
	}
	.oneprojects-grid__btn {
		margin: 48px 87px 0px auto;
		width: 183px;
		height: 42px;
		padding: 5px 0 0 0;
	}
	.oneprojects__footer-contents {
		margin: 80px auto 0px;
		padding: 1px 0px 154px 0px;
	}
	.oneprojects__abs{
		display: none;
	}
	.oneprojects__fc-tetle {
		margin: -1px auto 0 15px;
	}
	.oneprojects__fc-text {
		width: 93%;
		text-align: left;
		margin: 19px 0 0 15px;
	}
	.oneprojects__perfect {
		margin: 96px 0px 0px 0px;
	}
	.oneprojects__perfect h2{
		font-size: 26px;
		line-height: 32px;
		margin: 7px 1px 0 0px;
	}
	.oneprojects__footer-bigicon {
		bottom: -344px;
		padding: 0 15px;
		height: 392px;
	}
}