.wrapper__news{
    background-color: #FAFAFA;
    color: #000;
}
.news__header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 208px 0px 0px 0px;
    color: #000;
        h2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            margin: 0 0 0 132px;
        }
}
.header-select__nav-news{
    display: none;
}
.header__nav-news{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    width: 335px;
    margin: 6px 135px 0 0;
}

.grid-news__contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 124px 0 0 0;
    gap: 7px 8px;
}
.grid-news__content-1{
    grid-row: 1/2;
    grid-column: 1/2;
    background: #F2F2F2;
    height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #080808;
    padding: 0 160px 57px 50px;
        h4{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            margin: 0 0 21px 6px;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            opacity: 0.7;  
            margin: 0 0 60px 6px;
        }
}
.grid-news__content-icons-1{
    display: none;
}
.grid-news__content-icons-6{
    display: none;
}
.discover{
    margin: 0px 0px 0px 7px;
    display: flex;
    align-items: center;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            margin: 0px 9px 0px 8px;
            color: #080808;
            opacity: 1;
        }
}
.discover-left{
    border-bottom: 1px solid rgba(49, 49, 49, 0.2);
    width: 8px;
}
.discover-right{
    border-bottom: 1px solid rgba(49, 49, 49, 0.2);
    width: 56px;
}

.grid-news__content-2{
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url('@img/grid__news/grid1.jpg');
    background-size: 100% 100%;
}
.grid-news__content-3{
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url('@img/grid__news/grid2.jpg');
    background-size: 100% 100%;
    display: flex;
    align-items: flex-end;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px; 
            margin: 0 0 57px 56px; 
        }
}
.grid-news__content-4{
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url('@img/grid__news/grid3.jpg');
    background-size: 100% 100%;
    display: flex;
    align-items: flex-end;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 36px; 
            margin: 0 0 57px 56px; 
        }
}
.grid-news__content-5{
    grid-row: 3/4;
    grid-column: 1/2;
    background-image: url('@img/grid__news/grid1.jpg');
    background-size: 100% 100%;
}

.grid-news__content-6{
    grid-row: 3/4;
    grid-column: 2/3;
    background: #F2F2F2;
    height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #080808;
    padding: 0 160px 56px 45px;
        h4{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            margin: 0 0 21px 7px;
        }
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            opacity: 0.7;  
            margin: 0 0 60px 7px;
        }
}
.discover{
    margin: 0px 0px 0px 7px;
    display: flex;
    align-items: center;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            margin: 0px 9px 0px 8px;
            color: #080808;
            opacity: 1;
        }
}
.discover-left{
    border-bottom: 1px solid rgba(49, 49, 49, 0.2);
    width: 8px;
}
.discover-right{
    border-bottom: 1px solid rgba(49, 49, 49, 0.2);
    width: 56px;
}
.numbers__nav-prev{
    display: flex;
    align-items: center;
    margin: 0px 35px 0px 0px;
    color: rgba(8, 8, 8, 1);
}
.numbers__nav-next{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 34px;
}
.numbers__nav{
    color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 98px 0 140px 0;
}
.number__nsv-number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 148px;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;  
            letter-spacing: 0.06em;
            color: #080808;  
                &:nth-child(4){
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 13px;
                    letter-spacing: 0.06em;
                    color: #080808;
                    opacity: 0.5;
                }
        }
}

.news-email__container{
    position: relative;
    height: 654px;
}
.news-email__icon {
    position: absolute;
    top: 0;
    left: -65px;
    background-image: url(../img/news-email__icon/icon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 654px;
    width: 110%;
}
.news-email__content-top{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    padding: 137px 0 0 135px;
}
.news-email__content-bottom{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            margin: 25px 158px 0 0;
        }
}
.email-btn{
    margin: 39px 130px 0px 0px;
    display: flex;
    align-items: center;
    padding: 0 0 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.email-block{
    width: 362px;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 170.66%;
    color: #Fff;
}
.send{
    margin: 1px 6px 0 0;
}


.footer__contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 136px 0px 0px 0px;
}
.footer__left{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #828282;
}

.footer__right{
    display: flex;
    align-items: center;
    margin: 0 17px 0 0;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #828282;  
            margin: 0px 20px 0px 0;
        }
}