// @import "fonts.scss";
@import "nullstyle.scss";
// @import "404.scss";

[class*=__container]{
    max-width: 1312px;
    margin: 0em auto;
    color: #fff;
}

.wrapper {
    overflow: hidden;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}
@import "header.scss";
.main{
    flex: 1 1 auto;

}

.popular-swiper__container{
    position: relative;
    height: 744px;
}
.popular-slider{
    position: absolute;
    left: -64px;
    top: 0;
    width: 100%;
    height: 744px;
}

.swiper-wrapper{
    display: inline-flex;
    overflow: hidden;
}
.popular-slide{
    &:nth-child(2){
        img{
            height: 744px;
        }
    }
}
.swiper__buttom{
    position: relative;
    z-index: 10;
    height: 11px;
    display: inline-flex;
    align-items: center;
    width: 279px;
    justify-content: space-between;
    margin-top: 1px;
        p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
        }
        .pagination_1{
            margin-left: -7px;
        }
}
.swiper-pagination{
    background: #fff;
    width: 186px;
    height: 1px;
}
.image-slider__image{
    img{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
    }
}

.image-slider__image2{
    img{
        height: 744px;
        inline-size: 100%;
    }

}
.popular-swiper__contents{
    position: relative;
}

.popular-swiper__contents{
    margin-top: 0px;
    padding-top: 279px;
}
.ps-content__left{
    margin-left: 199px;
}
.ps__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    width: 500px;
}
.sp-border-1{
    border: 1px solid rgba(255, 255, 255, 0.4);
    transform: rotate(90deg);
    height: 8px;
}
.sp__discover{
    margin-top: 16.5px;
    display: flex;
    width: 90.4%;
    justify-content: space-between;
    align-items: center;
}
.sp-discover__left{
    display: flex;
    align-items: center;
}
.sp-discover-left__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin: 0 34px 0 15px;
}

.sp-border-2{
    border: 1px solid rgba(255, 255, 255, 0.4);
    transform: rotate(90deg);
    height: 56px;
}
.svg-prev_arrow-dims{
    position: relative;
    top: 4px;
}
.pagination_2{
    margin-left: 2px;
}
.svg-next_arrow-dims{
    position: relative;
    top: 2px;
}
.heade__rotate-text{
    position: relative;
    top: -7px;
    right: -1105px;
    transform: rotate(270deg);
    width: 318px;
    height: 112px;
        h6{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            margin: 0px 0px 11px 3px;
        }
        p{
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 48px;
            line-height: 47px;
            letter-spacing: 0.04em;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #fff;
        }
}
.ps__footer{
    position: relative;
    margin-top: 80px;
    display: flex;
}
.ps-footer__text{
    display: flex;
    width: 77px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
}
.select__header{
    background-image: url('@img/svgicons/maps-and-flags.svg');
    background-repeat: no-repeat;
    background-position: left 11px top 7px;
    color: #FFFFFF;
    width: 117px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2), inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(2px);
    border-radius: 8.70783px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    padding: 0px 0 0 23px;
    margin-left: 123px;
}
.ps__contacts{
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
    justify-content: space-between;
    width: 244px;
    margin-left: 71px;
}

.philosophy__container{
    color: #080808;
}

.philosophy__contents {
    padding-top: 140px;
}
.philosophy__content-top {
    display: flex;
    justify-content: space-between;

}
.pc-top__text {
    font-family: 'Montserrat';
    width: 515px;
    margin-top: 80px;
    margin-left: 133px;
}

.pc-top__text-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.pc-top__text-inform {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.7;
}
.pct__tit{
    margin: 24px 0 0px 0;
}
.pct__tib{
    margin: 13px 0 36px 0;
}
.pc-top__text-link {
    display: flex;
    align-items: center;
    a{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #080808;
        margin: 0 37px 0 16px;
    }
}
.pc-border-1{
    background: rgba(49, 49, 49, 0.2);
    transform: rotate(90deg);
    height: 8px;
    width: 1px;
}
.pc-border-2{
    background: rgba(49, 49, 49, 0.2);
    transform: rotate(90deg);
    height: 56px;
    width: 1px;
}
.pc-top__icon{
    position: relative;
    left: 64px;
}
.pc-bottom__icon{
    position: relative;
    margin-left: -18px;
}
.philosophy__content-bottom{
    display: flex;
    justify-content: space-around;
    margin-top: 78px;
    margin-bottom: 140px;
}
.pc-bottom__icon-min{
    position: absolute;
    left: 236px;
    top: -125px;
}
.pc-bottom__text{
    display: flex;
    margin-top: 150px;
    margin-left: -19px;
    span{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin-right: 32px;
    }
        p{
            width: 380px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 170.66%;
        }
}
.main__projects{
    background: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
}
.projects__container{
    position: relative;
}
.projects__abs{
    position: absolute;
    top: 148px;
    left: -4px;
    transform: rotate(270deg);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.13);
    display: flex;
        span{
            background: rgba(255, 255, 255, 0.04);
            transform: rotate(90deg);
            height: 56px;
        }
}
.projects__contents{
    padding-top: 140px;

}

.projects__title{
    text-align: center;
    font-family: 'Montserrat';
        h2{
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }
        p{
            margin: 30px auto 0 auto;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            color: #828282;
            width: 449px;
            padding: 0 1px 0 0px;
        }
}
.projects__gtid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px 7px;
    margin-top: 133px;
    margin-left: -2px;
    position: relative;
    opacity: 1;
}
.invisible__text{
    position: absolute;
    top: -41px;
    left: 291px;
    background-image: url('@img/svgicons/spotlight.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 735px;
    height: 69px;
}
.spotlight {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(
        circle,
        transparent 50px,
        rgba(0, 0, 0, 1) 50px
    );
}
.projects-grid__icon-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url('@img/projects/projects1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 653px;
    height: 653px;
    position: relative;
    z-index: 1;
    &:hover{
        background-size: 115%;
        background-position: center center;
    }
}
.projects-grid__icon-2 {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url('@img/projects/projects2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
        &:hover{
            background-size: 115%;
            background-position: center center;
        }
}
.pg__i2-top-text{
    display: flex;
    width: 159px;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    margin: 30px 0 0 32px;
}
.pg__i2-bottom-text{
    align-self: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 33px 32px;
    width: 100%;
}
.projects-grid__icon-3 {
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url('@img/projects/projects3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-size: 115%;
        background-position: center center;
    }
}
.projects-grid__icon-4 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-image: url('@img/projects/projects4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 653px;
    height: 653px;
    &:hover{
        background-size: 115%;
        background-position: center center;
    }
}
.projects-grid__icon-5 {
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    background-color: #fff;
    background-image: url('@img/projects/projects5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    &:hover{
        background-size: 40%;
        background-position: center center;
    }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color: #080808;
        margin-top: 113px;
        width: 100%;
    }
}
.projects__footer-contents{
    position: relative;
    width: 1046px;
    margin: 177px  auto 0;
    padding-bottom: 180px;
}
.projects__fc-tetle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    width: 424px;
    position: relative;
    z-index: 3;
}
.projects__fc-incons{
    display: flex;
    position: absolute;
    top: 109px;
    left: 139px;
}
.projects__fc-incons-1 {
    position: relative;
    top: 0;
    left: 0;
    transition: all .5s;
    height: 295px;
        &:hover{
            height: 350px;
            inline-size: 100%;
        }
}
.projects__fc-incons-2 {
    position: relative;
    top: 0;
    left: -174px;
    transition: all .5s;
    height: 275px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-3 {
    position: relative;
    top: -24px;
    left: -348px;
    transition: all .5s;
    height: 294px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-4 {
    position: relative;
    top: -38px;
    left: -522px;
    transition: all 0.5s;
    height: 280px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-5 {
    position: relative;
    top: -83px;
    left: -696px;
    transition: all .5s;
    height: 307px ;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-6 {
    position: relative;
    top: -92px;
    left: -906px;
    transition: all 0.5s;
    height: 295px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-7 {
    position: relative;
    top: -92px;
    left: -1080px;
    transition: all 0.5s;
    height: 274px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-8 {
    position: relative;
    top: -116px;
    left: -1253px;
    transition: all 0.5s;
    height: 293px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-9 {
    position: relative;
    top: -131px;
    left: -1426px;
    height: 307px;
    transition: all 0.5s;
    height: 281px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-incons-10 {
    position: relative;
    top: -175px;
    left: -1601px;
    transition: all 0.5s;
    height: 307px;
        &:hover{
            height: 380px;
            inline-size: 120%;
        }
}
.projects__fc-text{
    width: 339px;
    display: flex;
    flex-direction: column;
    margin: 25px  0 0 auto;
    position: relative;
    z-index: 3;
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
    }
    a{
        display: flex;
        width: 183px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #080808;
        background-color: #FFFFFF;
        padding: 17px 48px 17px 49px;
        margin-top: 46px;
        transition: all 0.4s;
            &:hover{
                background-color: black;
                color: #fff;
                box-shadow:0 0 100px #fff;
            }
    }
}
.projects__abs-footer{
    top: 33px;
    left: -153px;
}
.block__lorem-icon{
    background-color: #FAFAFA;
    overflow: hidden;
}
.block__lorem-icon-title{
    color: #080808;
    width: 427px;
    margin: 0px auto 0px auto;
    padding: 345px 0px 338px;
    
        h2{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
        }
        p{
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 23px;
            text-align: center;
            margin-top: 17px;
        }
}
.lorem-icon__container{
    position: relative;
}
.lorem-icons{
    position: absolute;
    top: 0;
    left: 0;
}
.lorem-icon-1{
    position: relative;
    top: -144px;
    left: 709px;
    z-index: 1;
}
.lorem-icon-2{
    position: relative;
    top: 62px;
    left: 642px;
}
.lorem-icon-3{
    position: relative;
    top: 428px;
    right: -434px;
}
.lorem-icon-4 {
    position: relative;
    top: 719px;
    right: 324px;
}
.lorem-icon-5 {
    position: relative;
    top: 282px;
    right: -214px;
}
.lorem-icon-6 {
    position: relative;
    top: 442px;
    right: 480px;
}
.lorem-icon-7 {
    position: relative;
    top: -98px;
    right: 769px;
    z-index: 1;
}
.lorem-icon-8 {
    position: relative;
    top: -220px;
    right: 836px;
}